.todo {
  display: flex;
  padding: 10px 15px;
  border-bottom: 2px solid #dcdcdc75; 
}

.todo__label {
  position: relative;
  margin: 0 10px 0 0;
}

.todo__label.todo__label--edit-todo {
  pointer-events: none;
}

.todo__checkbox {
  display: none;
}

.todo__label i {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid rgba(163, 158, 158, 0.733);
  transition: .4s; 
}

.todo__label i:hover {
  border-color: #ff0000;
}

.todo__label i::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  background-color: #ff0000;

  transform: scale(0);
  transition: .25s;
}

.todo__checkbox+i {
  border-radius: 50%;
}

.todo__checkbox+i::before {
  border-radius: 50%;
}

.todo__checkbox:checked+i::before {
  transform: scale(1);
}

.todo__task {
  flex-grow: 1;
  max-width: 420px;
  margin: -2px 0 0 0;
  padding: 0 5px 0 0;
  word-break: break-all;
  color: #726d6d;

  transition: .4s;
}

.todo__task--completed {
  text-decoration: line-through;
  color: #dcdcdcc4;
}


.todo__delete {
  display: none;
  width: 20px;
  height: 20px;
  border: none;
  font-size: 28px;
  background-color: transparent;
  color: rgba(163, 158, 158, 0.733);

  transition: .4s;
}

.todo:hover .todo__delete {
  display: block;
}

.todo:hover .todo__delete--edit-todo {
  display: none;
}

.todo__delete:hover {
  color: #a50808;
}



